# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

numpy==1.24.4
numba
scipy
Unidecode
pypinyin
pypinyin_dict
jieba
phonemizer
av
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
